import PageLayout from '~/layouts/PageLayout.astro';
import type { MetaData } from '~/types';

export interface Props {
  frontmatter: {
    title?: string;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title ?? '',
};
---

<PageLayout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 lg:px-8 lg:py-20 mx-auto max-w-4xl">
    <h1 class="text-4xl md:text-5xl font-bold tracking-tighter leading-tighter font-heading">
      {frontmatter.title}
    </h1>

    <div
      class="mt-8 prose prose-lg prose-img:mx-auto prose-img:max-w-full prose-img:h-auto prose-img:rounded-lg
             dark:prose-invert dark:prose-headings:text-slate-300
             prose-headings:font-heading prose-headings:tracking-tighter prose-headings:leading-tighter
             prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400"
    >
      <slot />
    </div>
  </section>
</PageLayout>
