---
import '~/styles/tailwind.css';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<html lang="en" class="scroll-smooth" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{metadata?.title ?? 'AstroWind'}</title>
  </head>
  <body class="bg-page text-page font-sans">
    <main>
      <slot />
    </main>
  </body>
</html>
